.nav {
  background-color: salmon;
}

.nav a {
  text-decoration-style: none;
  font-size: 21px;
}

.Button {
  border: 2px solid black;
  border-radius: 5px;
  width: 120px;
  height: 60px;
  background-color: rosybrown;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.nav .item {
}
