.Container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin: 20px;
  padding-left: 300px;
  /* text-align: center; */
}

.ContainerButton {
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  background-color: rosybrown;
  margin: 5px;
}

p {
  margin: 0px;
  font-size: 18px;
}

.ButtonGroup {
  display: flex;
  flex-direction: row;
}
